// Uses fonts as defined in the assets folder
@import '../../assets/fonts/fonts.scss';

$fontHeaderStack: 'RobotoHeader', Arial, Helvetica, sans-serif;
$fontTitleStack: 'RobotoTitle', Arial, Helvetica, sans-serif;
$fontSubheaderStack: 'RobotoRegularSubheader', Arial, Helvetica, sans-serif;
$fontBodyStack: 'RobotoRegularBody', Arial, Helvetica, sans-serif;
$fontCaptionStack: 'RobotoCaption', Arial, Helvetica, sans-serif;