<div class="nav-links">

  <div class="navigation">
    <ul>
      <li><a routerLink='/home'>{{ 'COMMON.HOME' | translate }}</a></li>
      <li><a routerLink='/displayAnimals'>{{ 'COMMON.DOGS' | translate }}</a></li>
      <li><a routerLink='/displayAnimals'>{{ 'COMMON.CATS' | translate }}</a></li>
    </ul>
  </div>

  <div class="controls">
    <div *ngIf="!isLoggedIn">
      <ul>
          <li><a routerLink='/login'>{{ 'COMMON.LOGIN' | translate }}</a></li>
          <li><button routerLink='/signup'>{{ 'COMMON.SIGNUP' | translate }}</button></li>
      </ul>
    </div>

    <div *ngIf="isLoggedIn" class="profileIcon">
        <!-- <i class="fa fa-user"></i> -->
          <app-dropdown></app-dropdown>
        <!-- <i class="fa fa-angle-down"></i> -->
      <!-- </a> -->
    </div>

  </div>

</div>
