<div class="nav-links">

  <div class="navigation">
    <ul>
      <li><a routerLink='/home'>{{ 'COMMON.HOME' | translate }}</a></li>
      <li><a routerLink='/displayAnimals'>{{ 'COMMON.DOGS' | translate }}</a></li>
      <li><a routerLink='/displayAnimals'>{{ 'COMMON.CATS' | translate }}</a></li>
    </ul>
  </div>

  <div class="controls">
    <div *ngIf="!isLoggedIn">
      <ul>
          <li><a routerLink='/login'>{{ 'COMMON.LOGIN' | translate }}</a></li>
          <li><button routerLink='/signup'>{{ 'COMMON.SIGNUP' | translate }}</button></li>
      </ul>
    </div>

    <div *ngIf="isLoggedIn" class="profileIcon">
      <app-dropdown></app-dropdown>
      <app-button class="log-out-button">Log out</app-button>
    </div>

  </div>

</div>
