<div class="filterHightlightArea">

  <div class="filterBox">
    <div>
      <h1>{{ 'FILTERS.ANIMALS' | translate }}</h1>
      <form class="form-group" method="POST">
        <span *ngFor="let type of types; index as i">
          <input class="checkbox" type="checkbox" id="{{type}} + ${i}" name="{{type}}" [checked]="false" (click)="updateFilters(type.value)">
          <label for="{{type}} + ${i}">{{ type.name }}</label>
          <br>
        </span>
      </form>

      <h1>{{ 'FILTERS.AGE' | translate }}</h1>
      <form class="form-group" method="POST">
        <span *ngFor="let age of ages; index as i">
            <input class="checkbox" type="checkbox" id="{{age}} + ${i}" name="{{age}}" [checked]="false" (click)="updateFilters(age.value)">
            <label for="{{age}} + ${i}">{{ age.name }}</label>
            <br>
        </span>
      </form>

      <h1 class="section">{{ 'FILTERS.BREEDS' | translate }}</h1>
      <form>
        <span *ngFor="let breed of breeds; index as i">
          <input class="checkbox" type="checkbox" id="{{breed}} + ${i}" name="{{breed}}" [checked]="false" (click)="updateFilters(breed.value)">
          <label for="{{breed}} + ${i}">{{ breed.name }}</label>
          <br>
        </span>
      </form>

      <h1 class="section">{{ 'FILTERS.STATUS' | translate }}</h1>
      <form>
        <span *ngFor="let status of neuterStatus; index as i">
          <input class="checkbox" type="checkbox" id="{{status}} + ${i}" name="{{status}}" [checked]="false" (click)="updateFilters(status.value)">
          <label for="{{status}} + ${i}">{{ status.name }}</label>
          <br>
        </span>
      </form>

      <h1 class="section">{{ 'FILTERS.SIZE' | translate }}</h1>
      <form>
        <span *ngFor="let size of sizes; index as i">
          <input class="checkbox" type="checkbox" id="{{size}} + ${i}" name="{{size}}" [checked]="false" (click)="updateFilters(size.value)">
          <label for="{{size}} + ${i}">{{ size.name }}</label>
          <br>
        </span>
      </form>

      <h1 class="section">{{ 'FILTERS.MAINTENANCE_LEVEL' | translate }}</h1>
      <form>
        <span *ngFor="let maintenanceLevel of maintenance; index as i">
          <input class="checkbox" type="checkbox" id="{{maintenanceLevel}} + ${i}" name="{{maintenanceLevel}}" [checked]="false" (click)="updateFilters(maintenanceLevel.value)">
          <label for="{{maintenanceLevel}} + ${i}">{{ maintenanceLevel.name }}</label>
          <br>
        </span>
      </form>
    </div>

  </div>

</div>
