<div>

  <div>
    <app-filters (add)="bundleParams($event)"></app-filters>
  </div>

  <div class="profileHightlightArea">

    <div [ngSwitch]="adoptableState()" class="profileBox">

      <p *ngSwitchCase="ViewStates.loading">Loading</p>
      <p *ngSwitchCase="ViewStates.empty">Empty</p>

      <div *ngSwitchCase="ViewStates.loaded">

        <a routerLink="/displayAnimals/{{ animal.id }}"
          *ngFor="let animal of animalsToShow; trackBy: animalsTrackByFn; index as i" class="profile">
          <div>
            <div class="profileImage">
              <img src="{{ animal.image }}">
            </div>

            <hr>

            <div class="profileInfo">
              <h1>{{ animal.name }}, {{ animal.age }}</h1>
              <p>{{ animal.tags }}</p>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>

</div>
