<div class="mainBody">

    <video class="dogVideo" onloadedmetadata="this.muted=true" autoplay loop>
      <source src="/assets/media/videos/black_dog.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  
    <div class="signupBox">
      <div class="signupCard">
        <form method="post">
            <input type="text" class="email" placeholder="E-mail" required>
            <input type="password" class="password" placeholder="Password" required>
            <input type="submit" value="Sign in">
        </form>
  
          <hr>
  
          <button type="button" class="btn btn-block google" (click)="signInWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>
            Login with Google
          </button>
  
          <button type="button" class="btn btn-block twitter" (click)="signInWithTwitter()">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Login with Twitter
          </button>
  
          <button type="button" class="btn btn-block github" (click)="signInWithGithub()">
            <i class="fa fa-github" aria-hidden="true"></i>
            Login with Github
          </button>

          <p class="toLogin">New to AnimalAdopt? <a routerLink="/login">Signup here.</a></p>
      </div>
    </div>
  </div>