<div class="footer-bar">
  <div class="wrapper">

    <div class="logo">

    </div>
    <div class="siteMap">
      <div class="columnOne">
        <h3>{{ 'COMMON.DOGS' | translate }}</h3>
        <ul>
          <a><li>Adopt</li></a>
          <a><li>{{ 'COMMON.SEARCH' | translate }}</li></a>
        </ul>
        <h3>{{ 'COMMON.CATS' | translate }}</h3>
        <ul>
          <a><li>Adopt</li></a>
          <a><li>{{ 'COMMON.SEARCH' | translate }}</li></a>
        </ul>
        <h3>Info</h3>
        <ul>
          <a><li>Privacy Policy</li></a>
          <a><li>Contact</li></a>
          <a><li>Impressum</li></a>
        </ul>
      </div>

      <div class="columnTwo">
        <h3>Social Media</h3>
        <ul>
          <a><li>Facebook</li></a>
          <a><li>Instagram</li></a>
          <a><li>Twitter</li></a>
          <a><li>Snapchat</li></a>
          </ul>
          <h3>Sponsors</h3>
          <ul>
            <a><li>Google</li></a>
            <a><li>ASPCA</li></a>
            <a><li>Best Friends Animal Society</li></a>
          </ul>
      </div>
    </div>

    <div class="contact">
      <div class="form-wrapper">
          <form>
            <input type="text" name="name" placeholder="{{ 'FORM_FIELDS.NAME' | translate }}">
            <input type="text" name="email" placeholder="{{ 'FORM_FIELDS.EMAIL' | translate }}">
            <textarea name="message" columns="30" rows="10" placeholder="{{ 'FORM_FIELDS.MESSAGE' | translate }}"></textarea>
            <app-button [buttonType]="buttonType"
              [swal]="{ title: 'Submitted', text: 'Your details have been successfuly submitted', type: 'success', confirmButtonText: 'Okay'}">{{ 'FORM_FIELDS.SUBMIT' | translate }}</app-button>
          </form>
      </div>

    </div>

  </div>
</div>
