@import '../../../../../styles/global/fonts';
@import '../../../../../styles/global/colours';
@import '../../../../../styles/global/mixins';

h1 {
    font-family: $fontHeaderStack;
}

.footer-bar {
    width: 100%;
    height: 400px;
    display: inline-block;
    bottom: 0px;
    padding: 20px 0;
    background-color: $main-dark-shade;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo {
    flex: 4;
}

.siteMap {
    flex: 4;
    padding: 10px 0px 0px 0px;
    line-height: 1.35rem;

    .columnOne {
        width: 50%;
        float: left;
    }

    .columnTwo {
        width: 50%;
        float: right;
    }

    h3 {
        color: $cool-white;
        font-family: $fontSubheaderStack;
        font-size: 24px;
        padding: 10px 0px;
    }

    a {
        color: darken($color: $cool-white, $amount: 20%);
        font-family: $fontSubheaderStack;
        font-size: 18px;
        padding: 5px 0px;
    }
}

.contact {
    flex: 4;

    .form-wrapper {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;

        form {
            width: 100%;
            margin: 0 auto;
        }

        input[type="text"] {
            border: none;
            display: block;
            margin: 5px auto;
            height: 40px;
            @include input(100%, 5px 10px, 0.75, $fontBodyStack, 18px, 5px);

            &:hover {
                background-color: $main-light-shade;
            }
        }

        textarea {
            height: 150px;
            border: none;
            resize: none;
            margin: 5px 0px;
            @include input(100%, 5px 10px, 0.75, $fontBodyStack, 18px, 5px);
        }
    }
}
