<div class="newsletterHightlightArea">

  <div class="newsletterBox">

    <div class="icon">
      <div class="iconBox">
          <i class="fa fa-envelope"></i>
      </div>
    </div>

    <h1>Sign up for our Newsletter</h1>
    <h2>Don't worry we won't spam you.</h2>

    <form>
      <input type="text" class="email" placeholder="{{ 'FORM_FIELDS.EMAIL' | translate }}" required>
      <br />
      <app-button
        [swal]="{ title: 'Submitted', text: 'Your details have been successfuly submitted', type: 'success', confirmButtonText: 'Okay'}">{{ 'FORM_FIELDS.SUBMIT' | translate }}</app-button>
    </form>

  </div>

</div>
